p.klaspierwsza{
    color: deeppink;
}

body{
    background: white;

}
ul li {
    display: inline;
    background: black;
    color: white;
}
ul {
    text-align: center;
    background: black;
    color: white;
}

a {
color: white;
background-color: black;
transition: all 1s;
}

a:hover {
color: black;
background-color: white;
}

div.hours ul {
    text-align: left;
    display: block;
    background: white;
    color: black;
}

div.hours ul li {
    display: block;
    background: white;
    color: black;
}